{% extends "company/company_base.html" %}
{% load static %}

{% block content %}

<link href="{% static 'assets/css/style_profile.css'%}" rel="stylesheet">

<div class="container px-4 mb-5">
    <br>
    <h2>Add Internship</h2>
    <br>
    <div class="row">
        <div class="col">
            <!-- Profile picture card-->
            <div class="card mb-5">
                <div class="card-header">Company Logo</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile mb-2" src="{{company.image.url}}" alt="" style="max-height: 300px; max-width: 300px">
                    <!-- Profile picture help block-->
                    <!-- Profile picture upload button-->
                    <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                </div>
        </div>
        </div>
        <div class="col-xl-8 mb-4">
            <!-- Account details card-->
            <div class="card mb-5">
                <div class="card-header">Internship Details</div>
                <div class="card-body">
                    <form action='/add_job_submit' method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Internship Title</label>
                                <input type="text" class="form-control" name="job_title" id="job_title" placeholder="Job Title" required>
                            </div>
                        </div>
                    
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Start Date</label>
                                <input type="date" class="form-control" name="start_date" id="start_date" placeholder="Start Date" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>End Date</label>
                                <input type="date" class="form-control" name="end_date" id="end_date" placeholder="End Date" required>
                            </div>
                        </div>

                        

                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Application Deadline</label>
                                <input type="date" class="form-control" name="deadline" id="deadline" placeholder="End Date" required>
                            </div>
                            <div class="col-md-6">
                                <label for="job_profile">Job Profile</label>
                                <select id="job_profile" class="form-control" name="job_profile" required="required">
                              <option>Software</option>
                              <option>Design</option>
                              <option>Core</option>
                              <option>Marketing</option>
                              <option>Content</option>
                              <option>HR</option>
                              <option>Finance</option>
                              <option>Product</option>
                              <option>Others</option>    
                            </select>
                            </div>
                        </div>
                    
                        

                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label>Skills Required</label>
                                <input type="text" class="form-control" name="skills" id="skills"
                                    placeholder="Enter the required skills for the Internship" required>
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label>Eligibility Criteria</label>
                                <textarea class="form-control" name="eligibility" id="eligibility" cols="30" rows="4" placeholder="Enter the Eligibility Criteria for the Internship" required></textarea>
                            </div>
                        </div>
                    
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Stipend (per month)</label>
                                <input type="tel" class="form-control" name="salary" id="salary" placeholder="Enter Stipend (per month)"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Company Location / Remote</label>
                                <input type="text" class="form-control" name="location" id="location"
                                    placeholder="Enter Location if Offline, else Remote" required>
                            </div>
                        </div>
                    
                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label>Internship Description</label>
                                <textarea name="description" id="description" class="form-control" cols="30" rows="10"
                                    placeholder="Description of the Internship" required></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary mb-3 mt-3" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}