  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/welcome">the HIRING HACK</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/welcome_company">Home Page</a></li>
          <li><a class="nav-link scrollto" href="/add_job_page">Add Internship</a></li>
          <li><a class="nav-link scrollto" href="/job_list">Listed Internships</a></li>
          <li><a class="nav-link scrollto" href="/all_applicants">Applicants</a></li>
          <li><a class="getstarted scrollto" href="/login/signout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->